<div class="row">
  <div class="col">
    <div class="card">
      <img
        class="card-img-top"
        src="https://picsum.photos/400/300?gravity=east"
        alt="Card image cap" />
      <div class="card-body">
        <a class="btn btn-primary" routerLink="/properties">Properties</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        class="card-img-top"
        src="https://picsum.photos/400/300?gravity=west"
        alt="Card image cap" />
      <div class="card-body">
        <a class="btn btn-primary" routerLink="/tenants">Tenants</a>
      </div>
    </div>
  </div>
</div>
